$background-grey: #eae9ee;
$grey: #b9b8bd;
$primary-font-color: #1d2766;
$primary-blue: #6E9BF5;
$primary-yellow: #f6dea0;
$primary-green: #b3cec3;
$primary-purple: #927af6;
$secondary-purple: #8b8aa1;
$secondary-purple-lighter: #f1eef4;
$white: white;