$background-blue: #f9feff;
$background-grey: #f4f5f8;
$grey: #b9b8bd;
$primary-font-color: #1d2766;
$primary-blue: #6e9bf5;
$primary-yellow: #f6dea0;
$primary-green: #b3cec3;
$primary-purple: #927af6;
$primary-purple-light: #ad99ff;
$primary-red: #f6a2a2;
$secondary-purple: #8b8aa1;
$secondary-purple-lighter: #f1eef4;
$white: white;
